.partners {
  padding-bottom: 158px;
}
.partners .container {
  max-width: 1156px;
}
.partners__list {
  gap: 12px;
}
.partners__item {
  cursor: pointer;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 4px;
}
.partners__item img {
  mix-blend-mode: luminosity;
}
.partners__item:first-child {
  padding-left: 44px;
}
.partners__item:nth-child(2) {
  padding-left: 25px;
  padding-top: 2px;
  padding-right: 25px;
  margin-right: 13px;
}
.partners__item:nth-child(4) {
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 0;
}
.partners__item:nth-child(5) {
  padding-left: 53px;
}